@charset "UTF-8";

*  {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;   
}

:root {
    --azul: #49a09d;
    --lilas: #5f2c82;
}

body, html {
    width: 100vw;
    height: 100vh;
}

main {
    position: relative;
    background-color: var(--lilas);
    width: 100vw;
    height: 100vh;

}
div#login {
    position: absolute;
    background-color: white;
    width: 250px;
    height: 500px;
    border: 1px solid black;
    border-radius: 20px;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.396);
  
}

div#imagem {
    display: block;
    background: var(--lilas) url(../imagens/padrao-edificio-menor.JPG);
    width: 100%;
    height: 40%;
}

div#formulario {
  display: block;
  padding: 10px;

}

div#formulario h1 {
text-align: center;
}

div#formulario p { 
    text-align: justify;
    margin: 10px 0px;
    font-size: 0.8em;
}


